/* Social media icons */
.code-block #social-media-icons {
  display: block;
  max-width: 400px;
  height: 100px;
  margin: 50px auto;
  font-size: 0;
  text-align: center;
}
.code-block #social-media-icons > .smicon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 0 0;
}
.code-block #social-media-icons > .smicon:hover {
  background-position: 0 100px;
}
.smicon#facebook {
  background-image: url('http://static1.squarespace.com/static/5261cecfe4b0696c720a18c1/t/56d7123db6aa601c41c884bd/1456935485729/smicons_facebook.png');
}
.smicon#twitter {
  background-image: url('http://static1.squarespace.com/static/5261cecfe4b0696c720a18c1/t/56d7124ab6aa601c41c88564/1456935498703/smicons_twitter.png');
}
.smicon#instagram {
  background-image: url('http://static1.squarespace.com/static/5261cecfe4b0696c720a18c1/t/56d71248b6aa601c41c88523/1456935496100/smicons_instagram.png');
}
.smicon#github {
  background-image: url('http://static1.squarespace.com/static/5261cecfe4b0696c720a18c1/t/56d71245b6aa601c41c8851b/1456935493881/smicons_github.png');
}

/* Contact form */
.form-block {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.form-block label.title {
  font-family: "Apercu", "Futura", sans-serif;
  font-size: 24px;
  text-align: center;
}
.form-block label.title > span.required {
  display: inline-block;
  margin-left: -0.2em;
  opacity: 0.5;
}
.form-wrapper .field-list .field .field-element {
  background: none;
  border: none;
  border-bottom: 3px solid black;
}
.form-wrapper .form-submission-text {
  text-align: center;
}
.form-wrapper .form-submission-text p {
  font-family: "Apercu", "Futura", sans-serif;
  font-size: 24px;
}

/* Section titles */
.sqs-block h1 {
  font-size: 48px;
  text-align: center;
  margin: 2em auto 0;
  padding: 0;
  max-width: 10em;
}

/* Mailchimp form */
#mc_embed_signup {
  max-width: 600px;
  margin: 0 auto;
}
#mc-embedded-subscribe-form .clear {
  text-align: center;
}
#mc-embedded-subscribe-form input[type="submit"] {
  -webkit-appearance: none;
  outline: none;
  line-height: 1em;
  padding: 1em 2.5em;
  border: none;
  color: #fff;
  background-color: #272727;
}
.mc-field-group {
  margin: 0 0 24px;
}
.mc-field-group label {
  display: block;
  text-align: center;
  font-family: "Apercu", "Futura", sans-serif;
  font-size: 24px;
  line-height: normal;
}
.mc-field-group input {
  box-sizing: border-box;
  width: 100%;
  background: none;
  margin: 6px 0 4px;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 2px;
  padding: 12px;
}
.mc-field-group input:focus {
  transition: background .1s ease-in;
  outline: none;
  background: white;
}
