.markdown-block h1 {
  font-size: 36px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 1.45em 0 0.55em;
}
label {
  display: block;
  margin-top: -24px;
  color: #aaa;
  text-align: center;
}
label.closer {
  margin-top: -5vh;
}
#buy-ticket-form {
  text-align: center;
}
#buy-ticket-form input[name="submit"] {
  margin: 1em;
  border-radius: 2px;
}
p.centered {
  text-align: center;
  margin: 0;
}
p.note {
  color: #aaa;
}
span.bold {
  font-weight: bold;
}
